<div class="center">
  <div class="center-wrapper" fxLayout="line">
    <div id="loader">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="loading"></div>
    </div>
    <h1 style="text-align:center"> Choisissez le restaurant dans lequel vous souhaitez commander</h1>
    <mat-accordion multi="true">
      <mat-card *ngFor="let restaurant of restaurants" style="display:inline-block;" class="example-card" >
        <mat-card-header>
          <mat-card-title> {{ restaurant.name }}</mat-card-title>
          <mat-card-subtitle>Adresse du restaurant : {{ restaurant.address }}</mat-card-subtitle>
          <mat-card-subtitle class="horizontal" *ngIf="restaurant.types.length > 0">
            <p>Catégories :</p>
            <mat-chip-list *ngFor="let type of restaurant.types">
              <mat-chip class="types"> {{ type }}</mat-chip>
            </mat-chip-list>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <img src="{{restaurant.imageUrl}}"/>
          <p>{{ restaurant.description }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button style="background-color: #454647;color: #5FB709" (click)="btnClick(restaurant._id, restaurant.products);">Voir les produits</button>
        </mat-card-actions>
      </mat-card>
    </mat-accordion>
  </div>
</div>  
