<div class="center">
  <div class="center-wrapper" fxLayout="line">
    <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
        <mat-card class="box">
          <mat-card-header>
            <mat-card-title>Profile information</mat-card-title>
          </mat-card-header>
          <br>

          <form class="example-form" [formGroup]="userModificationForm">
            <mat-card-content>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Mail" formControlName="mail">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Name" formControlName="name" required>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Surname" formControlName="surname" required>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Phone" formControlName="phone" required>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Password" formControlName="password" type="password" required>
              </mat-form-field>
            </mat-card-content>
            <button style="background-color: #454647;color: #5FB709" class="btn-block mat-raised-button" (click)="modify(modifyUserInfo)">Confirmer</button>
            <button mat-raised-button color="warn" (click)="delete(modifyUserInfo)" class="btn-block">Supprimer ce compte</button>
          </form>
        </mat-card>
    </div>
  </div>
</div>