<!-- two line list -->
<mat-list>
  <h1>Menus</h1>
  <mat-list-item *ngFor="let menu of menus">
    <h3 matLine> {{menu.name}} </h3>
    <p matLine>
      <span> {{menu.price}} </span>
      <!--<span class="demo-2"> -- {{}} </span>-->
    </p>
  </mat-list-item>
</mat-list>

<mat-list>
  <h1>Articles</h1>
  <mat-list-item *ngFor="let article of articles">
    <h3 matLine> {{article.name}} </h3>
    <p matLine>
      <span> {{article.price}} </span>
      <!--<span class="demo-2"> -- {{}} </span>-->
    </p>
  </mat-list-item>
</mat-list>
<h1>Prix total : {{basketTotalPrice}}</h1>
<button type="button">Passer la commande</button>
