<div class="center">
  <div class="center-wrapper" fxLayout="line">
    <h1>Menus</h1>
    <table mat-table [dataSource]="menus" class="mat-elevation-z8">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nom </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Prix </th>
        <td mat-cell *matCellDef="let element"> {{element.price + '€'}}  </td>
      </ng-container>
      <!-- Qty Column -->
      <ng-container matColumnDef="qty">
        <th mat-header-cell *matHeaderCellDef> Quantité </th>
        <td mat-cell *matCellDef="let element"> {{store.state.menus[menus.indexOf(element)].qty}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <br>
    <div class="demo-button-container">
      <button
          style="background-color: #454647;color: #5FB709" class="btn-block mat-raised-button" 
          (click)="removeMenusData()">
        Retirer les menus
      </button>
    </div>
    <br>
    <h1>Articles</h1>
    <table mat-table [dataSource]="articles" class="mat-elevation-z8">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nom </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Prix </th>
        <td mat-cell *matCellDef="let element"> {{element.price + '€'}}  </td>
      </ng-container>
    
      <!-- Qty Column -->
      <ng-container matColumnDef="qty">
        <th mat-header-cell *matHeaderCellDef> Quantité </th>
        <td mat-cell *matCellDef="let element"> {{store.state.articles[articles.indexOf(element)].qty}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <br>
    <div class="demo-button-container">
      <button
          style="background-color: #454647;color: #5FB709" class="btn-block mat-raised-button" 
          (click)="removeArticlesData()">
          Retirer les articles
      </button>
    </div>
    <br>
    <h1>Prix total : {{basketTotalPrice}} €</h1>
    <form class="example-form" [formGroup]="addressForm">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Adresse de livraison" formControlName="deliveryAddress" required>
      </mat-form-field>
    </form>
    <button style="background-color: #454647;color: #5FB709" class="btn-block mat-raised-button" (click)="createOrderFromBasket();">Passer la commande</button>
  </div>
</div>
