.example-card {
    max-width: 400px;
    margin: 20px;
}
  
.center{
    display: flex;
    justify-content: center;
    height: 87%;
    background-color: RGB(245,245,245);
    padding: 30px;
}

.center-wrapper {
    height: 100%;
    flex: auto;
    align-items: center;
    justify-content: center;
    width: 420px;
}

table{
    width: 100%;
}