<mat-accordion multi="true">
  <h1>Menus</h1>
  <mat-card *ngFor="let menu of menus">
    <mat-card-header>
      <mat-card-title> {{ menu.name }}</mat-card-title>
      <mat-card-subtitle> {{ menu.price }}€</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>{{ menu.description }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button>Choisir ce menu</button>
    </mat-card-actions>
  </mat-card>

  <h1>Articles</h1>
  <mat-card *ngFor="let article of articles">
    <mat-card-header>
      <mat-card-title> {{ article.name }}</mat-card-title>
      <mat-card-subtitle> {{ article.price }}€</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>{{ article.description }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button>Choisir cet article</button>
    </mat-card-actions>
  </mat-card>
</mat-accordion>
