.vertical-align {
  text-align: center;
  display: flex;
  align-items: center;
}

.vertical{
  display: flex;
}

.panel {
    margin: 100px;
    align-items: center;
    flex: 1
}

.example-card {
  max-width: 100%;
  flex:1;
}

.mat-card-header {
  display: contents;
}