<div>
  <div class="vertical-align">
    <div class="left-panel">
      <h1>Commandes à approuver</h1>
      <div *ngFor="let order of orderData.orders">
        <mat-card *ngIf="order.status === 0">
          <mat-card-header>
            <mat-card-title>Commande numéro : {{ order.id + 1 }}</mat-card-title>
            <mat-card-subtitle>Adresse de livraison : {{ order.deliveryAddress }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <h1>Menus</h1>
            <p *ngFor="let menu of order.menus">Menu {{menus[order.menus.indexOf(menu)].name}} : Quantité : {{ menu.qty }}</p>
            <h1>Articles</h1>
            <p *ngFor="let article of order.articles">Article {{articles[order.articles.indexOf(article)].name}} : Quantité : {{ article.qty }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button type="button" style="background-color: #454647;color: #5FB709" (click)="EditOrderStatus(order, true);">Accepter la commande</button>
            <button type="button" style="background-color: #454647;color: #5FB709" (click)="EditOrderStatus(order, false);">Refuser la commande</button>
          </mat-card-actions>
          <p>----------------------------------------------------------------------------------</p>
        </mat-card>
      </div>
    </div>
    <div class="right-panel">
      <h1>Commandes en préparation</h1>
      <div *ngFor="let order of orderData.orders">
        <mat-card *ngIf="order.status === 1">
          <mat-card-header>
            <mat-card-title>Commande numéro : {{ order.id + 1 }}</mat-card-title>
            <mat-card-subtitle>Adresse de livraison : {{ order.deliveryAddress }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Afficher les détails
                </mat-panel-title>
                <mat-panel-description>
                  {{panelOpenState ? 'Oui' : 'Non'}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <h1>Menus</h1>
              <p *ngFor="let menu of order.menus">Menu {{menus[order.menus.indexOf(menu)].name}} : Quantité : {{ menu.qty }}</p>
              <h1>Articles</h1>
              <p *ngFor="let article of order.articles">Article {{articles[order.articles.indexOf(article)].name}} : Quantité : {{ article.qty }}</p>
            </mat-expansion-panel>
            
          </mat-card-content>
          <mat-card-actions>
            <button type="button" style="background-color: #454647;color: #5FB709" (click)="EditOrderStatus(order, true);">Commande prête</button>
            <button type="button" style="background-color: #454647;color: #5FB709" (click)="EditOrderStatus(order, false);">Annuler la commande</button>
          </mat-card-actions>
          <p>----------------------------------------------------------------------------------</p>
        </mat-card>
      </div>
    </div>
  </div>
</div>
