<h1>Commandes à approuver</h1>
<mat-card *ngFor="let order of orders">
  <mat-card-header>
    <mat-card-title>Commande numéro : {{ order.id + 1 }}</mat-card-title>
    <mat-card-subtitle>Adresse de livraison : {{ order.deliveryAddress }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <h1>Menus</h1>
    <p *ngFor="let menu of order.menus">Menu {{menu.id}} : {{ menus[menu.id - 1].name }} Quantité : {{ menu.qty }}</p>
    <h1>Articles</h1>
    <p *ngFor="let article of order.articles">Article {{article.id}} : {{ articles[article.id - 1].name }} Quantité : {{ article.qty }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button type="button" (click)="acceptOrder();">Accepter la commande</button>
    <button type="button" (click)="refuseOrder();">Refuser la commande</button>
  </mat-card-actions>
  <p>----------------------------------------------------------------------------------</p>
</mat-card>
