<div class="login">
  <div class="login-wrapper" fxLayout="line" fxLayoutAlign="center center">
    <mat-card class="example-form">
      <mat-card-header>
        <mat-card-title>Register</mat-card-title>
        <mat-card-subtitle><br><br>Rentrez les informations nécessaires.</mat-card-subtitle>
      </mat-card-header>
      <form class="example-form" [formGroup]="registerForm">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Name" formControlName="name" required>
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Surname" formControlName="surname"required>
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Mail" formControlName="mail" required>
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" formControlName="password" type="password" required>
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Phone" formControlName="phone" required>
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="AffiliateMail" formControlName="affiliateMail">
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
            <mat-label>Choose a role...</mat-label>
            <mat-select formControlName="role">
              <mat-option *ngFor="let role of roles" [value]="role" >
                {{role}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button (click)="register(registerInfo)" color="primary" class="btn-block mat-raised-button">Register</button>
      </form>
    </mat-card>
  </div>
</div>

