<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <form class="example-form" [formGroup]="loginForm" (ngSubmit)="authenticate()">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Mail" formControlName="mail" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" formControlName="password" type="password" required>
        </mat-form-field>
      </mat-card-content>
      <button mat-raised-button color="primary" [disabled]="loading" class="btn-block">Login</button>
      <div *ngIf="error.isError" class="alert alert-danger mt-3 mb-0">{{error.errorMsg}}</div>
    </form>
  </mat-card>
</div>
