<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
  <span class="nav-tool-items">
    <a mat-button routerLink="login-page" routerLinkActive="active">Log in</a>
    <a mat-button routerLink="register-page" routerLinkActive="active">Register</a>
    <a mat-button routerLink="restaurant-list" routerLinkActive="active">Restaurants</a>
    <a mat-button routerLink="profile-page" routerLinkActive="active">Profile</a>
    <a mat-button routerLink="menu-pick-page" routerLinkActive="active">Choisir ce restaurant</a>
    <a mat-button routerLink="product-page" routerLinkActive="active">Choisir cet article</a>
    <a mat-button routerLink="basket-page" routerLinkActive="active">Panier</a>
    <a mat-button routerLink="create-article" routerLinkActive="active">Créer un article</a>
    <a mat-button routerLink="orders-preview" routerLinkActive="active">Visualiser les commandes</a>
    <a mat-button routerLink="create-menu" routerLinkActive="active">Créer un menu</a>
    <a mat-button routerLink="order-history" routerLinkActive="active">Historique des commandes</a>
    <a mat-button routerLink="order-preview" routerLinkActive="active">Visualiser commande</a>
    <a mat-button routerLink="delivery-orders-preview" routerLinkActive="active">Visualiser commandes livreur</a>
  </span>
</mat-toolbar>
<router-outlet></router-outlet>

