<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
  <span class="nav-tool-items">
    <a mat-button routerLink="login-page" routerLinkActive="active">Log in</a>
    <a mat-button routerLink="register-page" routerLinkActive="active">Register</a>
    <a mat-button routerLink="restaurant-list" routerLinkActive="active">Restaurants</a>
    <a mat-button routerLink="profile-page" routerLinkActive="active">Profile</a>
    <a mat-button routerLink="menu-pick-page" routerLinkActive="active">Choisir ce restaurant</a>
  </span>
</mat-toolbar>
<router-outlet></router-outlet>

